<?xml version="1.0" encoding="UTF-8"?>
<elements>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>online_counselling_1</display-name>
  <welcome-file-list>
    <welcome-file>login_page_1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>Logout</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
</elements>